.portfolio {
    opacity: 0;

    &__item {
        height: 330px;
    }

    &-item {
        position: relative;
        overflow: hidden;

        &__logo-wrap {
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            @include size(100%, 100%);
        }

        &__logo {
            position: relative;
            animation-delay: 1s;
        }

        &__stripe {
            position: absolute;
            bottom: -100px;
            left: 0;
            @include size(100%, 100px);
            background: rgba(0, 0, 0, .8);
            transition: all 0.2s ease-in-out;
        }

        &.narrow {
            .portfolio-item__stripe {
                bottom: -150px;
                height: 150px;
            }

            .grid {
                display: block;
            }

            .portfolio-item__button {
                float: none;
                margin-top: 15px;
            }
        }

        &:hover {
            .portfolio-item__stripe {
                bottom: 0;
            }
        }

        &__title {
            margin-top: 10px;
            padding: 0 25px;
            line-height: 4rem;
            font-size: 1.5rem;
            color: #fff;
            text-transform: uppercase;
        }

        &__description {
            padding: 0 25px;
            line-height: 1.75rem;
            font-style: italic;
            font-size: 1.4rem;
            color: #fff;
        }

        &__button {
            float: right;
            display: inline-block;
            margin: 35px 25px 0;
            padding: 10px 15px 8px;
            font-size: 1.3rem;
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            background-color: $ci-orange;
            transition: all 0.3s ease-in-out;

            &:hover {
                background-color: #fff;
                color: $ci-orange;
            }
        }
    }
}
