.portfolio {
    opacity: 0;

    &__item {
        height: 330px;
    }

    &-item {
        position: relative;
        overflow: hidden;

        &__logo-wrap {
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            @include size(100%, 100%);
        }

        &__logo {
            position: relative;
            animation-delay: 1s;
        }

        &__stripe {
            position: absolute;
            bottom: -150px;
            left: 0;
            @include size(100%, 150px);
            background: rgba(0, 0, 0, .8);
            transition: all 0.2s ease-in-out;

            @include vp($vp-large) {
                bottom: -100px;
                height: 100px;
            }
        }

        &.narrow {
            .portfolio-item__stripe {
                bottom: -190px;
                height: 190px;

                @include vp($vp-large) {
                    bottom: -170px;
                    height: 170px;
                }
            }

            .grid {
                display: block;
            }

            .portfolio-item__button {
                float: none;
                margin-top: 15px;
            }
        }

        &:hover {
            .portfolio-item__stripe {
                bottom: 0;
            }
        }

        &__title {
            margin-top: 10px;
            padding: 0 25px;
            line-height: 4rem;
            font-size: 1.5rem;
            color: #fff;
            text-transform: uppercase;
        }

        &__description {
            padding: 0 25px;
            line-height: 1.75rem;
            font-style: italic;
            font-size: 1.4rem;
            color: #fff;
        }

        &__button {
            float: none;
            display: inline-block;
            margin: 15px 25px 0;
            padding: 10px 15px 8px;
            font-size: 1.3rem;
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            background-color: $ci-orange;
            transition: all 0.3s ease-in-out;

            &:hover {
                background-color: #fff;
                color: $ci-orange;
            }

            @include vp($vp-large) {
                float: right;
                margin-top: 35px;
            }
        }

        .grid {
            display: block;
        }

        @include vp($vp-large) {
            .grid {
                 display: flex;
            }
        }
    }

    // overwrites
    &__item {
        &.vw {
            .portfolio-item__stripe {
                bottom: -105px;
                height: 105px;
            }

            &:hover {
                .portfolio-item__stripe {
                    bottom: 0;
                }
            }
        }

        &.lmb {
            .portfolio-item__stripe {
                bottom: -155px;
                height: 155px;
            }

            &:hover {
                .portfolio-item__stripe {
                    bottom: 0;
                }
            }
        }

        &.sachse {
            .portfolio-item__stripe {
                bottom: -125px;
                height: 125px;
            }

            .portfolio-item__button {
                margin-top: 45px;
            }

            &:hover {
                .portfolio-item__stripe {
                    bottom: 0;
                }
            }
        }

        &.friedman {
            .portfolio-item__stripe {
                bottom: -125px;
                height: 125px;
            }

            .portfolio-item__button {
                margin-top: 45px;
            }

            &:hover {
                .portfolio-item__stripe {
                    bottom: 0;
                }
            }
        }
    }
}
