.social-icons {
    margin: 33px 0 0;
    text-align: center;

    &__icon {
        display: inline-block;
        margin-right: 32px;
        text-indent: -9999px;
        background: url(../img/social.png) no-repeat;
        background-size: 134px 23px;

        &:last-child {
            margin-right: 0;
        }

        &--github {
            @include size(24px, 23px);
        }

        &--twitter {
            @include size(27px, 23px);
            background-position: -54px 0;
        }

        &--fb {
            @include size(23px, 23px);
            background-position: -111px 0;
        }

        a {
            display: block;
            height: 100%;
        }
    }
}
