.intro {
    max-width: 85%;
    margin: 5rem auto;
    line-height: 2.5rem;
    font-weight: 300;
    font-size: 1.75rem;
    text-align: center;

    @include vp($vp-medium) {
        max-width: 70%;
        margin: 100px auto 140px;
        line-height: 3.8rem;
        font-size: 2.8rem;
    }

    @include vp($vp-large) {
        margin: 165px auto 205px;
        line-height: 4rem;
        font-size: 3rem;
    }

    a {
        color: $ci-orange;
        text-decoration: none;
        transition: all 0.3s ease-in-out;

        &:hover {
            color: darken($ci-orange, 20%);
        }
    }
}

.my-name {
    font-weight: 500;
    color: $ci-orange;
}