.portfolio {
    opacity: 0;

    &__item {
        height: 33rem;

        &.esso {
            background-size: cover !important;

            @include vp($vp-xlarge) {
                background-size: contain !important;
            }
        }
    }

    &-item {
        position: relative;
        margin-bottom: 5rem;
        overflow: hidden;

        @include vp($vp-medium) {
            margin-bottom: 0;
        }

        &__logo-wrap {
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            @include size(100%, 100%);
        }

        &__logo {
            position: relative;
            animation-delay: 1s;
        }

        &__stripe {
            position: absolute;
            bottom: -35rem;
            left: 0;
            width: 100%;
            padding: 0 0 2.5rem;
            background: rgba(0, 0, 0, .8);
            transition: all 0.4s ease-in-out;

            &.touch {
                bottom: 0;
            }
        }

        &.narrow {
            .grid {
                display: block;
            }

            .portfolio-item__button {
                float: none;
                margin-top: 1.5rem;
            }
        }

        &:hover, &:focus, &:active {
            .portfolio-item__stripe {
                bottom: 0;
            }
        }

        &__title {
            margin: 2rem 0 1.5rem;
            padding: 0 2.5rem;
            line-height: 2rem;
            font-weight: 500;
            font-size: 1.5rem;
            color: #fff;
            text-transform: uppercase;
        }

        &__details {
            padding: 0 2.5rem;
            margin-bottom: 1rem;
            line-height: 1.7rem;
            font-size: 1.3rem;
            color: #fff;

            @include vp($vp-medium) {
                line-height: 1.9rem;
                font-size: 1.4rem;
            }

            li {
                display: block;

                &:before {
                    content: '\00bb';
                    padding-right: 0.5rem;
                    color: $ci-grey;
                }
            }
        }

        &__description {
            padding: 0 2.5rem;
            line-height: 1.7rem;
            font-size: 1.3rem;
            color: #fff;

            @include vp($vp-medium) {
                line-height: 1.9rem;
                font-size: 1.4rem;
            }
        }

        &__button {
            float: none;
            display: inline-block;
            margin: 1.5rem 2.5rem 0;
            padding: 1rem 1.5rem 0.8rem;
            font-size: 1.3rem;
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            background-color: $ci-orange;
            transition: all 0.3s ease-in-out;

            &:hover {
                background-color: #fff;
                color: $ci-orange;
            }
        }

        .grid {
            display: block;
        }

        @include vp($vp-large) {
            .grid {
                 display: flex;
            }
        }
    }
}
