html {
    position: relative;
    min-height: 100%;
    font-size: 62.5%;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;

    &.wf-active {
        opacity: 1;
    }
}

body {
    margin-bottom: 14rem;
    font-family: 'proxima-nova';
    background-color: #f7f7f7;
}

em {
    font-style: italic;
}

.main {
    margin-top: 12rem;

    @include vp($vp-medium) {
        margin-top: 0;
    }
}