.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    @include size(100%, 8rem);
    margin: 5rem 0 0;
    text-align: center;
    background-color: #fff;

    @include vp($vp-medium) {
        height: 9rem;
    }
}
