.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    @include size(100%, 6rem);
    padding: 1.5rem 0 0.1rem;
    overflow: hidden;
    background-color: #fff;
    transition: all 0.3s ease-in-out;

    &.opened {
        height: 21.5rem;
    }

    @include vp($vp-medium) {
        position: static;
        padding: 3.5rem 0 0;
        background-color: #f7f7f7;
    }

    &.fixed {
        @include vp($vp-medium) {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            padding-top: 1.5rem;
            background-color: #fff;
        }
    }

    &__logo {
        position: relative;
        max-width: 50%;
        height: 4.2rem;
        margin-bottom: 2rem;
        line-height: 5rem;
        font-size: 1.8rem;
        color: $ci-orange;
        background: url(../images/logo.svg) no-repeat;
        text-transform: lowercase;

        @include vp($vp-medium) {
            max-width: none;
            margin-bottom: 4rem;
            font-size: 2.2rem;
        }

        a {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            @include size(100%, 100%);
            padding-left: 4.5rem;
            color: $ci-orange;
            text-decoration: none;

            &:hover {
                .easteregg {
                    opacity: 1;

                    &-reverse {
                        width: 0;
                    }
                }
            }
        }
    }

    .easteregg {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;

        &-reverse {
            &:before {
                content: '\00a0';
            }

            display: inline-block;
            width: 0.6rem;
            transition: width 0.3s ease-in-out;
        }
    }
}
