.static-page {
    &__section {
        max-width: 80%;
        margin: 5rem auto 0;

        @include vp($vp-large) {
            max-width: 50%;
        }

        &:first-child {
            margin-top: 0;
        }
    }

    &__image {
        &--circle {
            @include size(15rem, 15rem);
            margin: 6rem 0 3rem;
            border-radius: 10rem;

            @include vp($vp-medium) {
                @include size(20rem, 20rem);
            }
        }

        &--center {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }

    h1 {
        margin-bottom: 2.5rem;
        font-weight: 300;
        font-size: 2.5rem;
        text-align: center;

        @include vp($vp-medium) {
            font-size: 3rem;
        }
    }

    p {
        margin-bottom: 3rem;
        line-height: 3rem;
        font-size: 1.7rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    ul {
        margin-bottom: 3rem;

        li {
            margin-bottom: 0.5rem;
            line-height: 2rem;
            font-size: 1.5rem;

            &:before {
                padding: 0 10px 0 30px;
                content: '\01F511';

            }

        }
    }

    a {
        color: $ci-orange;
        text-decoration: none;
        transition: color 0.3s ease-in-out;

        &:hover {
            color: darken($ci-orange, 20%);
        }

    }
}